html {
    height: 100%;
}
head{
  background: #7f8c8d;
}
#fake-header{
  margin-bottom:45px;
}
/*.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
.footer, .push {
    height: 10px;
}*/
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
  text-align: center;
}
.center{
  text-align: center;
}
.navbar-inverse-purp{
  border-color: #080808;
  background-color: #8e44ad;

}
body{
  height: 100%;
}

a{
    color: #0060B6;
    text-decoration: none;
}

a:hover{
     color:#0060B6;
     text-decoration:none;
     cursor:pointer;
}
#index-center{
  text-align: center;
}
