<html>

<head>
  <title>Fristastic Summer Steam Project</title>
</head>

<body>
{% if g.user == None %}
  <a href="{{ url_for('login') }}"><button type="button">Sign in with Steam</button></a>
{% else %}
  <a href="{{ url_for('user', nickname = g.user.nickname) }}"><button type="button">{{g.user.nickname}}'s Profile</button></a>
  <a href="{{ url_for('logout') }}"><button type="button">Logout</button></a>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

{% block content %}{% endblock %}
</body>

<footer>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script>
      console.log("nignog");
      $.getJSON('/topgamesontwitch', function(data){
        console.log(data.top[0].game.name);
      });

    </script>
  </footer>

</html>
