{% extends "base.html" %}

{% block title %}
  SteamWish - {{ game.name }}
{% endblock %}

{% block body %}
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-md-4">

        <h1>{{ game.name }}</h1><br>
        <a href="{{game.steamUrl}}"> <img src="{{game.image}}"> </a> <br>
        <h5>{{game.description}}</h5>
      </div>

        <div class="col-md-4">

          {% if twitchStream != "" %}
          <h3>Twitch Stream</h3>
          <object type="application/x-shockwave-flash" height="378" width="620" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{twitchStream}}" bgcolor="#000000"><param name="allowFullScreen" value="true" />
          <param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
          <param name="flashvars" value="hostname=www.twitch.tv&channel={{twitchStream}}&auto_play=false&start_volume=25" /></object>
          {% endif %}

        </div>

    </div>

    {% if ytVideos|length != 0 %}
    <h3 class="center">Youtube Videos</h3>
    {% endif %}

    <div class="row-fluid">

       <div class="row-fluid">
        {% for video in ytVideos %}
          <div class="col-md-4">
            <object width="310" height="189">
              <param name="movie" value="https://www.youtube.com/v/{{video}}version=3&autoplay=0"></param>
              <param name="allowScriptAccess" value="always"></param>
              <embed src="https://www.youtube.com/v/{{video}}?version=3&autoplay=0" type="application/x-shockwave-flash" allowscriptaccess="always" width="310" height="189"></embed>
            </object>
          </div>
        {% endfor %}


          <br>
          <h3 class="center">Pricing Info</h3>
          <div id="pricegraph"></div>

       </div>



    </div>
{% endblock %}


{% block footer %}
  <script type="text/javascript">
      var priceData = {{priceData|tojson}};
      var priceDate = {{priceDate|tojson}};
      var t;
      
      price = ["{{game.name}}"];
      date = ["date"];

      for (var i=0; i<priceData.length; i++) {
          price.push(priceData[i]);
          t = priceDate[i][0] + "-" + priceDate[i][1] + "-" +priceDate[i][2];
          date.push( t );
      }

      var chart = c3.generate({
        bindto: '#pricegraph',
        data: {
            x: 'date',
            x_format : '%m-%d-%Y', // default '%Y-%m-%d'
            columns: [
                date,
                price
            ]
        },
        axis : {
            x : {
                type : 'timeseries',
                tick: {
                  format: '%m-%d-%Y'
                }
            }
        }
      });

     
   </script>
{% endblock %}
