{% extends "base.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-6">

        <h1>{{ game.name }}</h1>
        <a href={{game.steam_url}}> <img src={{game.image}}> </a> <br>
        <h5>{{game.description}}</h5>
      </div>

        <div class="col-md-4">


          <h3>Twitch Stream</h3>
          <object type="application/x-shockwave-flash" height="378" width="620" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{game_streams}}" bgcolor="#000000"><param name="allowFullScreen" value="true" />
          <param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
          <param name="flashvars" value="hostname=www.twitch.tv&channel={{game_streams}}&auto_play=false&start_volume=25" /></object>

        </div>

    </div>
    <h3 class="center">Youtube Videos</h3>
    <div class="row-fluid">



        <div class="row-fluid">
        {% for video in yt_videos %}
        <div class="col-md-4">
          <object width="310" height="189">
            <param name="movie" value="https://www.youtube.com/v/{{video}}version=3&autoplay=0"></param>
            <param name="allowScriptAccess" value="always"></param>
            <embed src="https://www.youtube.com/v/{{video}}?version=3&autoplay=0" type="application/x-shockwave-flash" allowscriptaccess="always" width="310" height="189"></embed>
          </object>
        </div>
         {% endfor %}
       </div>
       


    </div>

{% endblock %}
