{% extends "base.html" %}
{% block content %}



    <div class="row">
      <div class="col-md-6">
        <p class="row"><h1>{{ user.nickname }}'s Profile</h1> <h5>SteamID = {{ user.steam_id }}</h5></p>
        <div class="col-md-4">
          <br><img src="{{user.avatar}}" class="img-rounded"/> <br>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Wishlist:</h2>
        <ul>
        {% for gameId in wishlist %}
            <li><a href="{{ url_for('game', game_id = gameId) }}">{{gameId}}</a></li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-sm-2">
        <!-- <p>test</p> -->
      </div>
    </div>



{% endblock %}
