{% extends "base.html" %}
{% block content %}

    <h1>{{ user.nickname }}'s Profile</h1>
    SteamID = {{ user.steam_id }} <br>
    <img src="{{user.avatar}}" /> <br>
 
    Wishlist:
    <ul>
    {% for gameName in wishlist %}
        <li><a href="{{ url_for('game', game_name = gameName) }}">{{gameName}}</a></li>
    {% endfor %}
    </ul>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

{% endblock %}
