{% extends "base.html" %}

{% block title %}
  Fristatsic - {{ user.nickname }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <p class="row">
              <h1>{{ user.nickname }}'s Profile</h1>
              <h5>SteamID = {{ user.steamId }}</h5>
            </p>
            <div class="col-md-4">
                <br><img src="{{user.avatar}}" class="img-rounded"/> <br>
            </div>
        </div>

        <div class="col-md-4">
            <h2>Wishlist:</h2>
                {% if wishlist|length > 0 %}
                    <table>
                    {% for game in wishlist %}
                        <tr>
                            <td><a href="{{ url_for('game', steamAppId = game.steamAppId) }}">{{game.name}}</a></td>
                            <td><a href="{{ url_for('game', steamAppId = game.steamAppId) }}"><img src="{{game.image}}" height="100" width="200"></a></td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <h3>There are no games to display</h3>
                    <ul>
                        {% if g.user == user %}
                            <li>Insure that there are games in your <a href="http://steamcommunity.com/profiles/{{user.steamId}}/wishlist/">Steam Wishlist</a>.</li>
                            <li>Insure that your Steam privacy settings are set to public. You may have to wait a few minutes after changing this.</li>
                        {% endif %}
                    </ul>
                {% endif %}
        </div>

        <div class="col-sm-2">
          
        </div>

    </div>
{% endblock %}
